.hero-section {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 6rem 2rem;
    text-align: center;

    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../assets/Background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #ffffff;
    box-sizing: border-box;
}

/* Name */
.hero-section h1 {
    font-size: clamp(5rem, 6vw, 4rem);
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: .65rem;
}

/* Roles */
.roles {
    font-size:2.65rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* Mission */
.mission {
    max-width: 720px;
    font-size: 1.26rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
}

/* Buttons container */
.hero-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Buttons */
.hero-buttons button {
    padding: 0.75rem 1.75rem;
    font-weight: 600;
    font-size: 0.9rem;

    border: none;
    border-radius: 6px;

    background-color: #0a3d62;
    /* dark blue */
    color: #ffffff;

    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover */
.hero-buttons button:hover {
    background-color: #075085;
    transform: translateY(-2px);
}